ADFProjectSourav05/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFProjectSourav05"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/src_to_stg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre_batch_control",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "pre_batch_control",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "f77495f0-7809-4c4b-9ff1-57980fbbd336"
							}
						}
					},
					{
						"name": "Delta_Date_curr",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Pre_batch_control",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Delta_Date_Curr",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "Delta_Date_prev",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Pre_batch_control",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Delta_Date_Prev",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "Delta_Date_Set_Curr",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Delta_Date_curr",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CurrBatchStartDate",
							"value": {
								"value": "@activity('Delta_Date_curr').output.runStatus.output.sink1.value[0].CurrBatchStartDate",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Delta_Date_Set_Prev",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Delta_Date_prev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PrevBatchStartDate",
							"value": {
								"value": "@activity('Delta_Date_prev').output.runStatus.output.sink2.value[0].PrevBatchStartDate",
								"type": "Expression"
							}
						}
					},
					{
						"name": "src_to_Stg_insured",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delta_Date_Set_Curr",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Delta_Date_Set_Prev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetDataForDateRange1]",
								"storedProcedureParameters": {
									"EndDate": {
										"type": "String",
										"value": {
											"value": "@variables('CurrBatchStartDate')",
											"type": "Expression"
										}
									},
									"StartDate": {
										"type": "String",
										"value": {
											"value": "@variables('PrevBatchStartDate')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"InsuredId"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_insured",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "stg_insured",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "src_to_stg_agent",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delta_Date_Set_Curr",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Delta_Date_Set_Prev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetDataForDateRangeagent]",
								"storedProcedureParameters": {
									"End": {
										"type": "String",
										"value": {
											"value": "@variables('CurrBatchStartDate')",
											"type": "Expression"
										}
									},
									"Start": {
										"type": "String",
										"value": {
											"value": "@variables('PrevBatchStartDate')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"AgentID"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_agent",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "stg_agent",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "src_wrk_policy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delta_Date_Set_Curr",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Delta_Date_Set_Prev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetDataForDateRangePolcy]",
								"storedProcedureParameters": {
									"EndPolicy": {
										"type": "String",
										"value": {
											"value": "@variables('CurrBatchStartDate')",
											"type": "Expression"
										}
									},
									"StartPolicy": {
										"type": "String",
										"value": {
											"value": "@variables('PrevBatchStartDate')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from [dbo].[wrk_policy]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_policy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wrk_policy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "wrk_to_stg_policy",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "src_wrk_policy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "wrk_to_stg_policy",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"wrkpolicy": {},
									"lkppolicy": {},
									"maxtransidsrc": {},
									"maxtransid": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"CurrBatchStartDate": {
						"type": "String"
					},
					"PrevBatchStartDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}